fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
apscheduler
python-multipart
sqlalchemy
pydantic_settings
asyncpg
greenlet
openai
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability